
<my-content placeholder="navigation">
    
</my-content>
<my-content placeholder="main">
    	<!-- Reset password Popup-->
		<div class="modal fade in" id="newPW" tabindex="-1" role="dialog" [ngStyle]="{'display':displayReset}" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog resetPW" role="document">
                    <div class="modal-content">
                        <div class="modal-body" *ngIf="success==true&&isPwdChanged==false">
                            <h4 class="modal-title">Enter new password</h4>
                            <form class="crtpost-from">
                                <input type="password" class="form-control" maxlength="20" [(ngModel)]="password" name="revoverPW" placeholder="Password">
                                <input type="password" class="form-control" maxlength="20" [(ngModel)]="repassword" name="revoverPW" placeholder="Re-enter password">
                                <div class="alert alert-danger" *ngIf="modalErrorBool==true">
                                        {{modalError}}
                                     </div>
                                <div class="doubleBTN">
                                    <button type="submit" (click)="onOkButton()"  class="btn btnB-default">Cancel</button>
                                    <button type="submit" (click)="ChangePassword()" class="btn btnB-green">Send</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-body" *ngIf="success==false&&isPwdChanged==false">
                                <h4 class="modal-title">{{message}}</h4>
                                <img class="img-responsive margin-auto" src="assets/images/error-img.png" alt="error">
                                <div class="doubleBTN singleBTN">
                                        <button type="submit" (click)="onOkButton()" class="btn btnB-green">Ok</button>
                                    </div>
                        </div>
                        <div class="modal-body" *ngIf="success==true&&isPwdChanged==true">
                                <h4 class="modal-title">Your password has been changed!</h4>
                                <img class="img-responsive margin-auto" src="assets/images/successful-check.png" alt="successful">
                                <div class="doubleBTN singleBTN">
                                        <button type="submit" (click)="onOkButton()" class="btn btnB-green">Ok</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
    <div class="backdrop" [ngStyle]="{'display':display}"></div>
</my-content>
<!--The content below is only a placeholder and can be replaced.-->




